<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhaHang.Properties.Settings.QLNhaHangConnectionString"
            connectionString="Data Source=DESKTOP-38E81JG\SQLEXPRESS;Initial Catalog=QLNhaHang;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>